export DEPLOYER_PRIVATE_KEY=
export DEPLOYER_ADDRESS=
export SEPOLIA_URL=

## SAFE WALLET

export SAFE_ADDRESS=

## ERC20

export INITIAL_SUPPLY=100
export ERC20_CONTRACT_ADDRESS=

## VESTING
export BENEFICIARY_PRIVATE_KEY=
export BENEFICIARY_ADDRESS=
# 2 minutes
export DURATION=120
export VESTING_CONTRACT_ADDRESS=
